body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f5f5f5;
}

/* NAVBAR */
.navbar {
  position: fixed;
  width: 100%;
  background: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  z-index: 1000;
}

.navbar nav a {
  color: white;
  margin-left: 30px;
  text-decoration: none;
  transition: 0.3s;
}

.navbar nav a:hover {
  color: #ffce44;
}

.logo {
  font-weight: bold;
  font-size: 24px;
  color: #ffce44;
}

/* HERO */
.hero {
  position: relative;
  height: 100vh;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.hero-overlay h1 {
  font-size: 70px;
}

.hero-overlay span {
  color: #ffce44;
}

.hero-overlay p {
  font-size: 18px;
  margin-top: 10px;
}

/* WORK */
.work {
  background: #ffce44;
  padding: 80px 50px;
}

.work-text h2 {
  font-size: 50px;
}

.work-grid {
  display: flex;
  gap: 30px;
  margin-top: 40px;
}

.card {
  flex: 1;
  overflow: hidden;
  border-radius: 15px;
}

.card img {
  width: 100%;
  transition: 0.4s;
}

.card:hover img {
  transform: scale(1.1);
}

/* ABOUT */
.about {
  display: flex;
  padding: 80px 50px;
  align-items: center;
  gap: 50px;
}

.about-img img {
  width: 500px;
  border-radius: 10px;
}

.about-text h2 {
  font-size: 50px;
}

.about-text p {
  font-size: 18px;
  line-height: 1.6;
}
